<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">      
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link href="/css/details.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
        <script>$(function(){
          $("#navbar").load("/static/navbar.html");
          });</script>
    </head>

 
    <body class="Font">
      <div class="jumbotron Homepage">
        <h1> {{name}} </h1>
      </div>
          
      <div class="container">
        <center>    
        <img src= "/images/{{preview}}" alt="Instructions" style="width:90%; border-radius: 10px" class="img">
        <br>
        <br>
        <p style="color: #FFF; font-size: 16px; width: 80%">{{instructions}}</p>
        <br>
        <br>
        <a href="/gamePlay/{{id}}/0/">
        <button class="miniGames btn new-button large-button" style="font-size: 22px"> PLAY </button></a>
        <br>
        <br>
        <p><a href="/games" style="color: #FFF; font-size: 16px">Back &raquo;</a></p>
        </center>
      </div>
   


 <!-- navigation bar inspired by a UM Tutorial-->
     <div id="navbar"></div>

  </body>
</html>