<html>
    <head>
    <title>Welcome to Keyanu Reeves</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/details.css" rel="stylesheet">

    </head>

    <body>
    <div class="HomePage">
    <h1> Welcome </h1>

        <div class="circle pfp"> </div>
        
        <h2> Level 1</h2>
        <a href="modules"><button class="dailyGoal btn btn-primary btn-lg"> <h3>Today's Goal</h3>
        <p> Learn how to play the Major D scale. </p> </button> </a>



    <!-- navigation bar -->
     <hr>
      <div class="row">
                  <div class="column">
                      <a href="homepage">
                    <img src="/icons/home.png" alt="Home" style="width:35%" class="img">
                      </a>
                  </div>
                 
                  <div class="column">
                      <a href="modules">
                    <img src="/icons/notebook.png" alt="Notebook" style="width:35%" class="img">
                      </a>
                  </div>

                  <div class="column">
                    <a href="games">
                    <img src="/icons/games.png" alt="Games" style="width:35%" class="img">
                    </a>
                  </div>

                  <div class="column">
                    <a href="prize">
                      <img src="/icons/trophy.png" alt="trophy" style="width:35%" class="img">
                    </a>
                    </div>
          </div>
  </div>

</body>










</html>