<html>
    <head>
        <title>Welcome to Keyanu Reeves</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link href="/css/details.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    </head>

    <body class="Font">
      <div class="HomePage">
      <div class="jumbotron">
      <h1> Welcome </h1>
      <h1 class="name"> </h1>
      </div>
    
      <div class="pfp circle" class="mod"> 
          <center>
            <img src='/images/plant.png' alt="progress plant" class="img-responsive">
          </center>
    
      <h2> Level 1</h2>
      <!-- hard coded link to first mod-->
      <a href="indMods?mod=Notes%20On%20a%20Staff"> 
        <button class="dailyGoal btn btn-primary"> 
          <h4>Today's Goal</h4>
          <p> Learn the notes on the music staff. </p>
        </button> 
      </a>
     

      <br>
      <br>
      </div>


    <!-- navigation bar inspired by a UM Tutorial-->
     <div class ="tab-container">
      <div class="tab purple active">
        <a href="homepage"><i class="fas fa-home fa-3x"></i></a>
          <p></p>
      </div>
      <div class="tab pink">
        <a href="modules"><i class="fas fa-book-open fa-3x"></i></a>
          <p></p>
      </div>
      <div class="tab yellow">
        <a href="games"><i class="fas fa-gamepad fa-3x"></i></a>
          <p></p>
      </div>
      <div class="tab teal">
       <a href="prize"><i class="fas fa-trophy fa-3x"></i></a>
          <p></p>
      </div>
    </div>
  

    </body>
</html>