<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">      
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
         <!-- linked js file -->
        <script src="/js/quizFeedback.js"></script>
        <link href="/css/details.css" rel="stylesheet">
    </head>

 
    <body class="Font">
      <div class="jumbotron Homepage">
        <h1> {{title}} </h1>
      </div>

    <div class="container">
      <center>
        <iframe width="device-width" height="300" src="{{video}}"></iframe>

        <!--link button to specific quiz -->
        <a href="/quiz/{{id}}/0/">
        <button class="btn btn-primary btn-lg">Take Quiz</button></a>
        <p><a href="/modules">Back &raquo;</a></p>

      </center>
    </div>


 <!-- navigation bar inspired by a UM Tutorial-->
     <div class ="tab-container">
      <div class="tab purple active">
        <a href="homepage"><i class="fas fa-home fa-3x"></i></a>
          <p></p>
      </div>
      <div class="tab pink">
        <a href="modules"><i class="fas fa-book-open fa-3x"></i></a>
          <p></p>
      </div>
      <div class="tab yellow">
        <a href="games"><i class="fas fa-gamepad fa-3x"></i></a>
          <p></p>
      </div>
      <div class="tab teal">
       <a href="prize"><i class="fas fa-trophy fa-3x"></i></a>
          <p></p>
      </div>
    </div>

  </body>
</html>