<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link href="/css/details.css" rel="stylesheet">
        <script>$(function(){
          $("#navbar").load("/static/navbar.html");
          });</script>

        <style> 
        .aligned { 
            display: flex; 
            align-items: center; 
        } 
           
        span { 
            padding: 10px; 
        } 
        /* Code alignment followed by this website https://www.geeksforgeeks.org/how-to-vertically-align-text-next-to-an-image-using-css/ */
      </style> 
    </head>


  <body class="Font">
      <div class="HomePage">
        <div class="jumbotron">
            <h1>Leaderboard</h1>
        </div>

        <div class="container">
            {{#each stats}}
	        <div class="aligned">
        
		    <img class="img-responsive img-rounded" src="{{imageURL}}" alt="Person" style="width: 15%"> 
          
        
            <span class="userName"style="background-color: aliceblue">
            {{name}} </span> 
           
            <span class="userName"style="background-color: aliceblue" id="right" style="float:right">{{score}}</span>
          
	    </div>
	    <hr>
	    {{/each}}
        </div>
      
          

 <!-- navigation bar inspired by a UM Tutorial-->
     <div id="navbar"></div>
  </div>

</html>