<html>

    <head>
	      <title>Welcome Bruv</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link href="/css/details.css" rel="stylesheet">
        <script>$(function(){
          $("#navbar").load("/static/navbar.html");
          });</script>
    </head>


    <body>
      <div class="jumbotron Homepage">
       
          <h1> Modules </h1>
       
    
      </div>

    <div class="Homepage container">
      {{#each modInfo}}
      <br>
      <br>

			<div class="mod" id="{{id}}">
        <a href="indMods?mod={{title}}">
				<button class="btn new-button large-button" style="font-size: 20px">{{title}}</button>
        </a>
      </div>

      <br>
      <br>
      {{/each}}          
  </div>


<!-- navigation bar inspired by a UM Tutorial-->
     <div id="navbar"></div>


    
    </body>
</html>