<html>
    <head>
        <title>Welcome to Keyanu Reeves</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
         <!-- linked js file -->
        <script src="/js/quizFeedback.js"></script>
        <link href="/css/details.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
        <script>$(function(){
          $("#navbar").load("/static/navbar.html");
          });</script>
    </head>

    <body class="Font" style="background: #FFF">
      <div class="HomePage">
      <div class="jumbotron" style="box-shadow:  5px 5px 5px #cbcbcb,
             -5px -5px 5px #ffffff">
      <h1> Results </h1>
      </div>
    
     
      <div class="qscore">
        <script>
        //const {qscoreNew} = require('/js/quizFeedback.js');
        $('.qscore').text(qscoreNew);
        </script>
        </div>


      <h2> Score: </h2>
      <h2 style="font-size: 40px"> 2/3 </h2>
     

      <!-- hard coded link to first mod-->
      <img src="/images/leaves_and_stem.png" style="max-height: 325px">
     
      
      <a href="modules">
        <button class="btn new-button-2 large-button" style="font-size: 20px">Return to Lessons</button>
      </a>
      
      </div>


    <!-- navigation bar inspired by a UM Tutorial-->
     <div id="navbar"></div>
  

    </body>
</html>