@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.circle {
    width:250px;
    height:250px;
    border-radius:50%;
    background-color: rgb(255, 255, 255)
}

.rectangle {
    width: 700px;
    height: 500px;
    background-color: rgb(204, 204, 204);
    margin-left: auto;
    margin-right: auto;
}

.container {
  overflow: auto;
  max-height: 70%;
  
}

.video {
    width: 500px;
    height: 300px;
    background-color: #555; 
}

.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  .HomePage {
      text-align: center;
  }

  .field {
      width: 100%;
  }

  .sign-in {
    padding-left: 50px;
    padding-right: 50px;
  }

  .sign-in-flex{
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }

  .sign-in-form {
    padding: 20px;
  }

  .our-button {
    background-color: #1BC47D;
    color: #F8F8F8;
  }

  input[type=username], input[type=password] {
    padding: 10px 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
  }

  .font {
    font-family: 'Open Sans', sans-serif;
  }

  .p-3 {
  padding: ($spacer * 1.5) !important;
}

/* Adapted Navbar from UM Tutorial */

*{
  box-sizing: border-box;
}

body {
  background: #1BC47D;
  font-family: 'Open-Sans', sans-serif;
  color: #1BC47D;
}

.new-button {
  border-radius: 20px;
  background: #1BC47D;
  box-shadow:  10px 10px 20px #19b272,
             -10px -10px 20px #1dd688;
  color: #FEFEFE;
}

/*
h1{
  color: #FFFFFF;
  position: absolute;
  top: 20px;
}
*/

.tab-container {
  background: #FEFEFE;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0, 0.23);
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.large-button {
  width: 80%;
  height: 75px;
}

.jumbotron {
  color: #FEFEFE;
  justify-content: center;
  background: #1BC47D;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow:  10px 10px 20px #19b272,
             -10px -10px 20px #1dd688;
  height: 125px;
}

.quiz-button {
  border-radius: 10px;
  background: #FEFEFE;
  color: #1BC47D;
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0, 0.23);
  width: auto;
  min-width: 50px;
  height: 50px;
  max-width: 80%;
}

.correct {
  border-radius: 10px;
  background: #1BC47D;
  color: #FEFEFE;
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0, 0.23);
  width: auto;
  min-width: 50px;
  height: 50px;
  max-width: 80%;
}

.wrong {
  border-radius: 10px;
  background: #D75440;
  color: #FEFEFE;
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0, 0.23);
  width: auto;
  min-width: 50px;
  height: 50px;
  max-width: 80%;
}